body {
	font-family: 'Myriad Pro';
}

/*-----Section header------*/
/* .menu {
	padding-top: 15px;
	padding-bottom: 15px;
} */

.logo {
	margin-top: 15px;
}


/* .header-fon {
	;
	
} */

.text-link a{
	color: #515862;
	/*font-size: 14px;*/
}

.link-padding {
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
}

.text-link a:hover {
	font-weight: bold;
	color: white;
	background: url('../img/br-link.png') no-repeat 0% 100%, 
		url('../img/br-link-rec.png') no-repeat 0% 100%;
}

p.margin-0 {
	margin: 0;
}

/* --- Section-with-fon ------ */
.section-with-fon {
	padding-top: 100px;
	padding-bottom: 180px;
	background: url('../img/header-fon.png');
	background-size: cover;
	color: #cccece;
	line-height: 1.2;
	/* height: 100vh; */
	/* height: 490; */
}

.section-with-fon h1 {
	font-size: 60px;
	text-align: center;
  }
  
  .section-with-fon__text {
	font-size: 14px;
	text-align: center;
	padding: 10px 100px;
  }
  
a.button {
	font-size: 20px;
	color: #ffebca;
	line-height: 1.5;
	text-align: center;
	width: 243px;
	height: 50px;
	text-transform: uppercase;
	background: #f98561; 
    padding: 0.5rem 2.5rem; /* Поля вокруг текста */
    text-transform: uppercase;
	text-decoration: none; /* Убираем подчёркивание */
    border-radius: 5px; /* Скругляем уголки */
    margin-top: 25px; 
  }

  /* ---- Third section ----- */
  .third-section {
	color: #515862;
  }

  .third-section a.button {
	font-size: 20px;
	color: #fff;
	line-height: 1;
	text-align: center;
	width:180px;
	height: 35px;
	text-transform: uppercase;
	background: #2190c1; 
    padding: 0.5rem 0.5rem; /* Поля вокруг текста */
    text-transform: uppercase;
	text-decoration: none; /* Убираем подчёркивание */
    border-radius: 5px; /* Скругляем уголки */
    margin-top: -20px; 
  }

  .icon-img {
	/* background-image: url("../img/icon_web-design.png"); */
	width: 118px;
	height: 118px;
	display: block;
	margin: 0 auto;
	margin-top: 47px;
	margin-bottom: 27px;
  }
  
  .third-section__subtitle {
	
  	font-size: 17px;
	font-weight: bold;
	text-align: center;

  }
  .third-section__text {
	font-size: 11px;
	padding: 0 20px;
	text-align: center;
	margin-bottom: 36px;
  }
  
  .third-section__text a {
	text-decoration: none;
  }

  /*----- The portfolio section ----*/
.portfolio-section {
	background-color: #2e3e4f;
}

.portfolio-section .first-row {
	padding-top: 55px;
	/* display: flex; */
	align-items: center;
}

.portfolio-section__text {
	color: #f98561;
	font-size: 30px;
}

.portfolio-section a.button {
	font-size: 20px;
	color: #fff;
	line-height: 1;
	text-align: center;
	width: 180px;
	height: 35px;
	background: #2190c1; 
    padding: 0.5rem 0.5rem; /* Поля вокруг текста */
    text-transform: capitalize;
	text-decoration: none; /* Убираем подчёркивание */
	border-radius: 5px;
}

@media screen and (max-width: 1000px){

}